@font-face {
	font-family:'avant-garde-std';
	src: url('assets/ITCAvantGardeStd-Bk.eot');
	src: url('assets/ITCAvantGardeStd-Bk.woff') format('woff'),
		url('assets/ITCAvantGardeStd-Bk.ttf') format('truetype'),
		url('assets/ITCAvantGardeStd-Bk.svg#ITCAvantGardeStd-Bk') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB04;
}

@font-face {
	font-family:'avant-garde-std';
	src: url('assets/ITCAvantGardeStd-Md.eot');
	src: url('assets/ITCAvantGardeStd-Md.woff') format('woff'),
		url('assets/ITCAvantGardeStd-Md.ttf') format('truetype'),
		url('assets/ITCAvantGardeStd-Md.svg#ITCAvantGardeStd-Md') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB02;
}

@font-face {
	font-family:'avant-garde-std';
	src: url('assets/ITCAvantGardeStd-Bold.eot');
	src: url('assets/ITCAvantGardeStd-Bold.woff') format('woff'),
		url('assets/ITCAvantGardeStd-Bold.ttf') format('truetype'),
		url('assets/ITCAvantGardeStd-Bold.svg#ITCAvantGardeStd-Bold') format('svg');
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB02;
}
